---
import Container from "@components/container.astro";
import Footer from "@components/footer.astro";
import News from "@components/news.astro";
import Layout from "@layouts/Layout.astro";
import Card from '../components/Card.astro';
import Card_nolink from '../components/Card_nolink.astro';
---

<Layout title="Robert Izzard's homepage">
  <Container>
      <main>
          <h1>
             Robert Izzard's homepage
          </h1>
          <p>
              This is a placeholder.
          </p>
      </main>
  </Container>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
        text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		gap: 1rem;
		padding: 0;
	}
</style>
