---
---

  <li><a href="https://arxiv.org/abs/2104.10870">Population synthesis of accreting white dwarfs: Rates and evolutionary pathways of H and He novae</a></li>
     <li><a href="http://adsabs.harvard.edu/abs/2018arXiv180910157A">Understanding the orbital periods of CEMP-s stars</a>
    <li><a href="http://www.aanda.org/articles/aa/full_html/2015/05/aa23018-13/aa23018-13.html">White dwarf masses in cataclysmic variables</a>
    <li><a href="http://esoads.eso.org/abs/2014ApJ...782....7D">The Incidence of Stellar Mergers and Mass Gainers among Massive Stars</a>
        <li><a href="https://arxiv.org/abs/1507.04969">Modelling the observed properties of carbon-enhanced metal-poor stars using binary population synthesis</a>
     <li><a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1401.2895">Theoretical uncertainties of the type Ia supernova rate</a></li>
     
     <li><a href="http://esoads.eso.org/abs/2014ApJ...780..117S">Ages of Young Star Clusters, Massive Blue Stragglers, and the Upper Mass Limit of Stars: Analyzing Age-dependent Stellar Mass Functions</a>

 <li><a href="http://esoads.eso.org/abs/2013arXiv1312.3650D">The incidence of stellar mergers and mass gainers among massive stars</a>
 <li><a href="">Are most cataclysmic variables descendants from thermal time scale mass transfer?</a>
 <li><a href="http://esoads.eso.org/abs/2013A%26A...559A..66S">A nova re-accretion model for J-type carbon stars</a>
 <li><a href="http://esoads.eso.org/abs/2013arXiv1310.6859A">AGB nucleosynthesis at low metallicity: what can we learn from carbon- and s-elements-enhanced metal-poor stars</a>

 <li><a href="http://esoads.eso.org/abs/2013MNRAS.430.2262H">Population synthesis of triple systems in the context of mergers of carbon-oxygen white dwarfs</a>
 <li><a href="http://esoads.eso.org/abs/2013ASPC..470..163C">POPCORN: A comparison of binary population synthesis codes</a>

 <li><a href="http://esoads.eso.org/abs/2013IAUS..281..236C">Type Ia Supernovae and the Uncertainties in their Progenitor Evolution</a>

    <li><a href="http://esoads.eso.org/abs/2013A%26A...552A..26A">Wind Roche-lobe overflow: Application to carbon-enhanced metal-poor stars</a>
    <li><a href="http://esoads.eso.org/abs/2013A%26A...551A..50D">Eccentricity-pumping in post-AGB stars with circumbinary discs</a>
    <li><a href="http://esoads.eso.org/abs/2013ApJ...764..166D">The Rotation Rates of Massive Stars: The Role of Binary Interaction through Tides, Mass Transfer, and Mergers</a>
    <li><a href="http://esoads.eso.org/abs/2013arXiv1302.0725I">Massive Binary Stars and Self-Enrichment of Globular Clusters</a>
<li><a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:1210.6042">Classical Cepheids require enhanced mass loss</a>
  <li><a href="http://cdsads.u-strasbg.fr/abs/2010arXiv1008.3818I">White-Dwarf Kicks and Implications for Barium Stars</a>
  <li><a href="http://cdsads.u-strasbg.fr/abs/2010arXiv1009.3937D">Fast rotating stars resulting from binary evolution will often appear to be single</a>
  <li><a href="http://cdsads.u-strasbg.fr/abs/2010arXiv1008.4175O">The Origin and Evolution of the Halo PN BoBn 1: From a Viewpoint of Chemical Abundances Based on Multiwavelength Spectra</a>
  <li><a href="http://cdsads.u-strasbg.fr/abs/2007A%26A...470..661I">Origin of the early-type R stars: a binary-merger solution to a century-old problem?</a>
  <li><a href="http://cdsads.u-strasbg.fr/abs/2007A%26A...466..641I">Reaction rate uncertainties and the operation of the NeNa and MgAl chains during HBB in intermediate-mass AGB stars</a>
  <li><a href="http://cdsads.u-strasbg.fr/abs/2008A%26A...484L..27L">Fluorine in carbon-enhanced metal-poor stars: a binary scenario</a>
  <li><a href="http://cdsads.u-strasbg.fr/abs/2008A%26A...484..831D">Gamma-ray bursts from tidally spun-up Wolf-Rayet stars?</a><li><a href="http://cdsads.u-strasbg.fr/abs/2007ASPC..378..121I">Galactic Sodium from AGB Stars</a>
  <li><a href="http://cdsads.u-strasbg.fr/cgi-bin/nph-data_query?bibcode=2007A%26A...469.1013B&db_key=AST&link_type=ABSTRACT&high=4aa4c8d25c25099">The s-process in stellar population synthesis: a new approach to understanding AGB stars</a>
  <li><a href="http://cdsads.u-strasbg.fr/doi/10.1111/j.1365-2966.2009.15346.x">The impact of binary-star yields on the spectra of galaxies</a>
  <li><a href="http://cdsads.u-strasbg.fr/abs/2004MNRAS.350L...1I">A binary origin for low-luminosity carbon stars</a>
  <li><a href="http://cdsads.u-strasbg.fr/abs/2004MNRAS.348.1215I">Formation rates of core-collapse supernovae and gamma-ray bursts</a>
  <li><a href="http://cdsads.u-strasbg.fr/abs/2003PASA...20..345I">Nucleosynthesis in Binary Populations</a>
